body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#addbtn {
  margin-top: 15px;
}

input[type=checkbox] {
  transform: scale(1.5);
}

.navbar-header {
  margin-top: 12px;
}

.btn.btn-default.navbar-btn {
  margin-left: 3px;
  margin-right: 3px;
}
